[submodule "dependencies/SerialPort"]
	path = dependencies/SerialPort
	url = https://github.com/manashmandal/SerialPort.git
[submodule "dependencies/sockpp"]
	path = dependencies/sockpp
	url = https://github.com/fpagliughi/sockpp.git
